<section class="gallery" id="gallery">

  <div class="gallery-heading">

    <span class="section-label">
      CHARACTER ARCHIVE
    </span>

    <h2>
      Legends of the
      <span>Universe.</span>
    </h2>

    <p>
      Explore the characters that define this
      extraordinary comic universe.
    </p>

  </div>


  <div class="gallery-grid">

    <!-- DEADPOOL -->

    <article
  class="gallery-card card-one"
  (click)="showCharacter('deadpool')"
>


      <img
        src="/Images/Hero/Gamescom_2023_-_Cosplay_Deadpool.jpg"
        alt="Deadpool"
        class="gallery-image"
      />

      <div class="gallery-overlay"></div>

      <div class="gallery-content">

        <span>01 / HERO</span>

        <h3>Deadpool</h3>

        <p>THE MERC WITH A MOUTH</p>

      </div>

    </article>


    <!-- WOLVERINE -->

    <article
  class="gallery-card card-two"
  (click)="showCharacter('wolverine')"
>


      <img
        src="/Images/Hero/wolverine_images.jpg"
        alt="Wolverine"
        class="gallery-image"
      />

      <div class="gallery-overlay"></div>

      <div class="gallery-content">

        <span>02 / MUTANT</span>

        <h3>Wolverine</h3>

        <p>THE RELENTLESS WARRIOR</p>

      </div>

    </article>


    <!-- UNKNOWN -->

    <article class="gallery-card card-three">

      <div class="unknown-character">
        <span>?</span>
      </div>

      <div class="gallery-overlay"></div>

      <div class="gallery-content">

        <span>03 / CLASSIFIED</span>

        <h3>Unknown</h3>

        <p>IDENTITY REDACTED</p>

      </div>

    </article>

  </div>

</section>
